NEXT_PUBLIC_SHOW_HIDDEN_FEATURES=true

# Used in @/lib/clearNetlifyCache.ts
NETLIFY_API_TOKEN=
NETLIFY_SITE_ID=

# The address of the Hydro contracts
NEXT_PUBLIC_HYDRO_CONTRACT_ADDRESS=
NEXT_PUBLIC_TRIBUTE_CONTRACT_ADDRESS=
