# The root URL to wherever you're running the site
SITE_URL=https://hydro.cosmos.network

# The address of the Hydro contracts
NEXT_PUBLIC_HYDRO_CONTRACT_ADDRESS=
NEXT_PUBLIC_TRIBUTE_CONTRACT_ADDRESS=
