NEXT_PUBLIC_SHOW_HIDDEN_FEATURES=true
NEXT_PUBLIC_RELOAD_CAP_DATA_INTERVAL_SECONDS=

# Used in @/lib/clearNetlifyCache.ts
NETLIFY_API_TOKEN=
NETLIFY_SITE_ID=

# The address of the Hydro contracts
NEXT_PUBLIC_HYDRO_CONTRACT_ADDRESS=
NEXT_PUBLIC_TRIBUTE_CONTRACT_ADDRESS=

# Numia Data
NUMIA_COSMOS_HYDRO_APP_API_KEY=
NUMIA_METRICS_ENDPOINT=
NUMIA_DEPLOYMENTS_OVERVIEW_ENDPOINT=

# Toggles the backend data tweaking UI / functionality
NEXT_PUBLIC_USE_FIXTURE_DATA=true

# Skip API
NEXT_PUBLIC_SKIP_API_RPC_ENDPOINT=
NEXT_PUBLIC_ATOM_DENOM=
NEXT_PUBLIC_SKIP_API_RPC_ENDPOINT=
