@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar";

@theme {
  --sidebar-width: 300px;
  --sidebar-width-docked: 80px;

  --breakpoint-2xl: 1400px;

  --container-2xs: 16rem;

  --spacing-standard: 4px;
  --radius-standard: 4px;

  --font-inter: "Inter", "sans-serif";

  --color-palette-beige: #ffe1b8;
  --color-palette-cyan: #00d1ff;
  --color-palette-blue: #0061ff;
  --color-palette-green: #00ffc2;
  --color-palette-red: #ff7b51;
  --color-palette-text: #080815;
  --color-token-atom: #9747ff;
  --color-token-stosmo: #e50371;
  --color-token-color: var(--color-token-atom);

  --color-shaded: rgba(var(--color-palette-beige), 0.8);
  --color-faded: rgba(255, 255, 255, 0.6);
}

@utility border-token-color {
  border-color: var(--color-token-color);
}

@utility border-standard {
  border-width: calc(var(--spacing-standard) / 2);
  border-style: solid;
  border-color: transparent;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  html {
    @apply touch-manipulation;
    @apply text-[14px];
  }
}

@utility btn {
  @apply inline-flex items-center justify-center rounded-md border-2;
  @apply px-3 py-2;
  @apply text-center leading-none font-semibold whitespace-nowrap;
  @apply cursor-pointer touch-manipulation;
}

@utility btn-icon {
  @apply btn;
  @apply size-10;
  @apply border-transparent;
}

@utility btn-inline {
  @apply btn;
  @apply -mx-2 -my-2;
  @apply border-transparent;
}

@utility btn-inverted {
  @apply bg-palette-text **:text-white!;
  @apply hover:bg-palette-green hover:**:text-palette-text!;
}

@utility empty-box {
  @apply flex h-full items-center justify-center;
}

@utility label {
  @apply text-sm leading-[1.1em] font-bold tracking-widest uppercase;
}

@utility denom {
  @apply label;
  font-size: 10px;
  opacity: 0.6;
}

@utility grid-areas-desktop-sidebar-closed {
  @apply gap-standard;
  display: grid;
  transition-property: grid-template-columns, grid-template-rows;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  grid-template-columns: var(--sidebar-width-docked) auto;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "header  header"
    "sidebar content";
}

@utility grid-areas-desktop-sidebar-open {
  @apply grid-areas-desktop-sidebar-closed;
  grid-template-columns: var(--sidebar-width) auto;
}

@utility grid-areas-mobile-sidebar-closed {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas:
    "header"
    "sidebar"
    "content";
}

@utility grid-areas-mobile-sidebar-open {
  @apply grid-areas-mobile-sidebar-closed;
  grid-template-rows: min-content 1fr 0fr;
}

@utility grid-in-header {
  grid-area: header;
}

@utility grid-in-sidebar {
  grid-area: sidebar;
}

@utility grid-in-content {
  grid-area: content;
}
